CustomerSimulator/Connected Services/CoreServiceReference/Core.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8888/Core?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DronePost.SupportClasses" />
  <xs:import schemaLocation="http://localhost:8888/Core?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DronePost.DataModel" />
  <xs:element name="AssignCore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="core" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignCoreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DronePost.SupportClasses" minOccurs="0" name="package" nillable="true" type="q1:GeneratedPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DronePost.DataModel" minOccurs="0" name="RegisterPackageResult" nillable="true" type="q2:Package" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DronePost.DataModel" minOccurs="0" name="transfer" nillable="true" type="q3:Transfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterTransferResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterDrone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DronePost.DataModel" minOccurs="0" name="drone" nillable="true" type="q4:Drone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterDroneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterDroneResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DronePost.DataModel" minOccurs="0" name="station" nillable="true" type="q5:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterStationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DronePost.DataModel" minOccurs="0" name="customer" nillable="true" type="q6:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterCustomerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestDroneForPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DronePost.DataModel" minOccurs="0" name="package" nillable="true" type="q7:Package" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestDroneForPackageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestDroneForPackages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DronePost.DataModel" minOccurs="0" name="packages" nillable="true" type="q8:ArrayOfPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestDroneForPackagesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestChargeForDrone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestChargeForDroneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RequestChargeForDroneResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDronesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DronePost.DataModel" minOccurs="0" name="GetDronesResult" nillable="true" type="q9:ArrayOfDrone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DronePost.DataModel" minOccurs="0" name="GetStationsResult" nillable="true" type="q10:ArrayOfStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DronePost.DataModel" minOccurs="0" name="GetCustomersResult" nillable="true" type="q11:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>