CustomerSimulator/Connected Services/StationSimulatorReference/StationSimulator1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5000/StationSimulator?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DronePost.SupportClasses" />
  <xs:import schemaLocation="http://localhost:5000/StationSimulator?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DronePost.DataModel" />
  <xs:element name="RegisterPackageFromClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DronePost.SupportClasses" minOccurs="0" name="package" nillable="true" type="q1:GeneratedPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPackageFromClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterPackageFromClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitArrival">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DronePost.DataModel" minOccurs="0" name="drone" nillable="true" type="q2:Drone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitArrivalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestCharge">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestChargeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DronePost.SupportClasses" minOccurs="0" name="RequestChargeResult" nillable="true" type="q3:ChargeRespond" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>