CustomerSimulator/Connected Services/StationSimulatorReference/StationSimulator.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DronePost.SupportClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DronePost.SupportClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GeneratedPackage">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepartureStationId" type="xs:int" />
      <xs:element minOccurs="0" name="DestinationStationId" type="xs:int" />
      <xs:element minOccurs="0" name="PackageSizeId" type="xs:int" />
      <xs:element minOccurs="0" name="PackageWeight" type="xs:float" />
      <xs:element minOccurs="0" name="RecipientNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneratedPackage" nillable="true" type="tns:GeneratedPackage" />
  <xs:complexType name="ChargeRespond">
    <xs:sequence>
      <xs:element minOccurs="0" name="Permision" type="xs:boolean" />
      <xs:element minOccurs="0" name="SlothNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChargeRespond" nillable="true" type="tns:ChargeRespond" />
</xs:schema>