CustomerSimulator/Connected Services/StationSimulatorReference/StationSimulator3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DronePost.DataModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DronePost.DataModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Drone">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Latitude" type="xs:float" />
      <xs:element minOccurs="0" name="Longitude" type="xs:float" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="tns:DroneModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Drone" nillable="true" type="tns:Drone" />
  <xs:complexType name="DroneModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BatteryCapacity" type="xs:float" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MaxFlightDistance" type="xs:float" />
      <xs:element minOccurs="0" name="MaxSizeCarry" nillable="true" type="tns:PackageSize" />
      <xs:element minOccurs="0" name="MaxWeightCarry" type="xs:float" />
      <xs:element minOccurs="0" name="ModelName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DroneModel" nillable="true" type="tns:DroneModel" />
  <xs:complexType name="PackageSize">
    <xs:sequence>
      <xs:element minOccurs="0" name="Height" type="xs:float" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Lenght" type="xs:float" />
      <xs:element minOccurs="0" name="SizeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Width" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackageSize" nillable="true" type="tns:PackageSize" />
</xs:schema>